<h1>Listing games</h1>

<table>
  <tr>
    <th>White offense</th>
    <th>White defense</th>
    <th>Blue offense</th>
    <th>Blue defense</th>
    <th>White score</th>
    <th>Blue score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @games.each do |game| %>
  <tr>
    <td><%= game.played_positions[0].player_id %></td>
    <td><%= game.played_positions[1].player_id %></td>
    <td><%= game.played_positions[2].player_id %></td>
    <td><%= game.played_positions[3].player_id %></td>
    <td><%= game.white_score %></td>
    <td><%= game.blue_score %></td>

    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
