<h1>Listing games</h1>

<p><%= link_to 'List players', players_path %></p>

<table class="game_list">
  <tr>
    <th colspan="2">Date</th>
    <th>White offense</th>
    <th>White defense</th>
    <th>Blue offense</th>
    <th>Blue defense</th>
    <th>White score</th>
    <th>Blue score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @games.each do |game| %>
  <tr class="winner_<%= game.winner %>">
    <td><%= game.created_at.strftime('%a') %></td>
    <td><%= game.created_at.strftime('%m/%d/%Y - %I:%M %p') %></td>
    <% game.played_positions.each do |p| %>
      <td class="<%= winner_class game, p.position.to_s.split('_').first %>"><%= p.player.name %></td>
    <% end %>
    <td class="<%= winner_class game, 'white' %>"><%= game.white_score %></td>
    <td class="<%= winner_class game, 'blue' %>"><%= game.blue_score %></td>

    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
