<p id="notice"><%= notice %></p>

<p>
  <b>White offense:</b>
  <%= white_offense_player_name(@game) %>
</p>

<p>
  <b>White defense:</b>
  <%= white_defense_player_name(@game) %>
</p>

<p>
  <b>Blue offense:</b>
  <%= blue_offense_player_name(@game) %>
</p>

<p>
  <b>Blue defense:</b>
  <%= blue_defense_player_name(@game) %>
</p>

<p>
  <b>White score:</b>
  <%= @game.white_score %>
</p>

<p>
  <b>Blue score:</b>
  <%= @game.blue_score %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
