<h1>Leaderboards</h1>
<p><%= link_to 'Back to game list', root_path %></p>

<div class="board">
  <h2>Best Team Record</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Team</th>
      <th class="stat">Record</th>
    </tr>
    <% sorted_by_record(@teams).each_with_index do |team, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= team.name %></td>
        <td class="stat"><%= sprintf('%.3f', team.record) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Best Record</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Record</th>
    </tr>
    <% sorted_by_record(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= sprintf('%.3f', player.record).to_s[1..-1] %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Wins</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Wins</th>
    </tr>
    <% sorted_by_wins(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.total_games_won %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Best Winners</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Average spread</th>
    </tr>
    <% sorted_by_winning_spread(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= sprintf('%.1f', player.average_winning_spread) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Best Losers</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Average spread</th>
    </tr>
    <% sorted_by_losing_spread(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= sprintf('%.1f', player.average_losing_spread) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Points Scored</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Points</th>
    </tr>
    <% sorted_by_points_scored(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.total_points_scored %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Points Allowed</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Points</th>
    </tr>
    <% sorted_by_points_allowed(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.total_points_allowed %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Best Defender</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat">Avg pts allowed/game</th>
    </tr>
    <% sorted_by_average_points_allowed(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= sprintf('%.1f', player.average_points_allowed(true)) %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Games Played</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat"># of games</th>
    </tr>
    <% sorted_by_number_of_games(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.games.count %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Promiscuous Offenders</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat"># of partners</th>
    </tr>
    <% sorted_by_number_of_defenders(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.teams_as_offense.count %></td>
      </tr>
    <% end %>
  </table>
</div>

<div class="board">
  <h2>Most Promiscuous Defenders</h2>
  <table>
    <tr>
      <th class="order">&#9733;</th>
      <th class="name">Player</th>
      <th class="stat"># of partners</th>
    </tr>
    <% sorted_by_number_of_offenders(@players).each_with_index do |player, i| %>
      <tr<%=raw ' class="top"' if i < 3 %>>
        <td class="order"><%= i + 1 %></td>
        <td class="name"><%= player.name %></td>
        <td class="stat"><%= player.teams_as_defense.count %></td>
      </tr>
    <% end %>
  </table>
</div>
