<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Hidden:</b>
  <%= @player.hidden %>
</p>

<% if current_user.present? and current_user.admin? %>
  <%= link_to 'Edit', edit_player_path(@player) %> |
<% end %>
<%= link_to 'Back', players_path %>
